@import "../../app.scss";

.services {
    background: linear-gradient(180deg, #000000, #1c1c23);
    height: 120%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    @include mobile {
      width: 100%;
    }
    @include tablet{
      width: 180%;
    }
    .textContainer {
      flex: 1;
      align-self: flex-end;
      display: flex;
      align-items: center;
      gap: 20px;

      @include mobile {
        align-self: center;
        text-align: center;
        flex-direction: column;
      }
      @include small-screen{
        flex: none;
      }
  
      p {
        font-weight: 200;
        font-size: 20px;
        color: #e1b62f;
        text-align: right;
      }
  
      hr {
        width: 200px;
        border: none;
        border-top: 0.5px solid gray;
        @include mobile {
          width: 300px;
        }
  
      }
    }
  
    .titleContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include mobile {
        width: 100%;
        // margin-top: -30%;
        margin-bottom: 20px;
        overflow: hidden;
      }
      @include small-screen{
        padding-bottom: 30px;
      }
  
      .title {
        display: flex;
        gap: 10px;

        @include mobile {
          flex-direction: column;
          text-align: center;
          gap: 20px;
        }
        h1 {
          font-size: 50px;
          font-weight: 100;

          @include mobile {
            font-size: 36px;
          }
          b:hover{
            color: #e1b62f;
            cursor: pointer;
          }
        }
      }
    }
  
    .listContainer {
      flex: 2;
      display: flex;
      max-width: 1366px;
      margin: 10%;
      justify-content: space-between;

      @include mobile {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
      .box {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; 
        text-align: center; 
        padding: 20px;
        border: 0.5px solid gray;
        border-radius: 20px;
        margin-top: -90px; 
        margin-left: 20px;

        @include tablet{
          height: 80%
        }
        @include mobile {
          border: none;
          align-items: center;
          gap: 0;
          padding: 10px;
          margin-bottom: 170px;
        }
        @include small-screen{
          margin-bottom: 100px;
        }
  
        h2 {
          margin-bottom: 20px;
          color: #e1b62f;
        }
  
        p {
          flex-grow: 1;
          margin-bottom: 10px;

          
            @include mobile {
              display: none;
            }
        }
  
        button {
          padding: 10px;
          background-color: #e1b62f;
          border-radius: 20px;
          border: none;
          width: 200px;
          cursor: pointer;
          align-self: center; 
          margin-top: auto; 

          @include mobile {
            background-color: transparent;
            border: 1px solid #e1b62f;
            border-radius: 10px;
            color: #e1b62f;
            width: 50%;
            padding: 5px;
          }
        }
      }
    }
  }
  