@import "../../app.scss"; 

.skills {
  
  text-align: center;
  margin: 50px 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 8%;
  background: linear-gradient(180deg, #000000, #1c1c23);

@include tablet{
  width: 100%;
  height: 50vh;
  // background-color: red;
}
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 50px;
    color: #e1b62f;

    @include mobile {
      font-size: 1.8rem;
    }

    @include tablet {
      font-size: 2rem;
    }
  }

  .skills-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .row {
      display: flex;
      justify-content: center;
      gap: 30px;

      span {
        font-size: 1.2rem;
        @include mobile {
          font-size: 0.9rem;
        }

        @include tablet {
          font-size: 1rem;
        }
      }

      @include mobile {
        gap: 10px;
      }

      @include tablet {
        gap: 20px;
      }
    }

    .separator {
      width: 60%;
      height: 2px;
      background-color: #fff;
      margin: 0 auto;

      @include mobile {
        width: 90%;
      }

      @include tablet {
        width: 80%;
      }
    }
  }
}
