@import "../../app.scss";

.contactMain {
  height: 100%;
  max-width: 1366px;
  margin: 15%;
  display: flex;
  align-items: center;
  gap: 50px;

  @include tablet {
    width: 160%;
    height: fit-content;
    margin-top: -20%;
  }
  @include mobile {
    width: 140%;
    height: 230%;
    padding: 10px;
    margin-top: -40%;
    flex-direction: column;
  }
  @include small-screen {
    margin-top: auto;
  }
  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mobile {
      gap: 20px;
      text-align: center;
      align-items: center;
      // margin-top: 70px;
    }
    @include small-screen {
      margin-bottom: -120%;
    }
    @include mini-screen {
      margin-top: 10%;
    }

    h1 {
      font-size: 60px;
      line-height: 75px;

      @include mobile {
        font-size: 36px;
      }
    }
    span {
      font-weight: 300;
    }
    .item{
      h2{
        color: #e1b62f;
      }
    }
  }

  .formContainer {
    flex: 1;
    position: relative;

    @include tablet {
      margin-top: 0;
    }
    @include mobile {
      padding: 50px;
      width: 100%;
      margin-top: -250%;
    }
    @include small-screen {
      margin-top: auto;
    }
    @include mini-screen {
      padding-top: 50%;
    }

    .phoneSvg {
      stroke: #e1b62f;
      position: absolute;
      margin: auto;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 10px;

        @include mobile {
          padding: 10px;
        }
      }
      button {
        cursor: pointer;
        background-color: #e1b62f;
        border-radius: 10px;
        padding: 8px;
        font-size: large;
        border: none;

        @include mobile {
          padding: 10px;
        }
      }
    }
  }
}
