@import "../../app.scss";

.navbar {
  height: 100px;
  margin-left: -9%;

  @include tablet{
    width: 100%;
  }
  @include mobile{
    width: 80%;
  }

  .sidebar-container {
    @include desktop {
      display: none;
    }
    @include tablet {
      display: none;
    }
    @include mobile {
      display: block;
    }
  }
  .wrapper {
    max-width: 1366px;
    margin: 15%;
    margin-left: 21%;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @include mobile {
      justify-content: flex-end;
      padding: 20px;
      width: 100%;
    }

    .list {
      ul {
        display: flex;
        flex-direction: row;
        li {
          padding-right: 50px;
          margin: 2%;
          list-style: none;
          font-size: 20px;
          &:hover{
            color: #e1b62f;
          }
          @include mobile {
            display: none;
          }
          @include tablet{
            padding-right: 20px;
          }
        }
      }
    }
    img {
      height: 100%;
      width: 15%;
      cursor: pointer;
      @include mobile {
        display: none;
      }
      @include tablet {
        display: none;
      }
    }
    .social {
      display: flex;
      gap: 5vh;
      @include tablet{
        gap: 2vh;
        padding-left: 30%;
      }
      #linkedin {
        font-size: 200%;
      }
      #linkedin:hover {
        color: #0077b5;
        cursor: pointer;
        transition: 0.4s;
        transform: translateY(-10px);
      }
      #insta {
        font-size: 200%;
      }
      #insta:hover {
        cursor: pointer;
        color: rgb(209, 40, 40);
        transition: 0.4s;
        transform: translateY(-10px);
      }
      #github {
        font-size: 200%;
      }
      #github:hover {
        color: #6e5494;
        cursor: pointer;
        transition: 0.4s;
        transform: translateY(-10px);
      }
    }
  }
}
