@mixin small-screen {
    @media (max-width: 540px) and (max-height: 720px) {
      @content;
    }
  }

// Mobile: Up to 738px

@mixin mobile {
    @media (max-width: 738px) {
        @content;
    }
}

// Tablet: From 739px to 1024px
@mixin tablet {
    @media (min-width: 739px) and (max-width: 1024px) {
        @content;
    }
}

// Desktop: 1025px and up
@mixin desktop {
    @media (min-width: 1025px) {
        @content;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans",sans-serif;
}
body{
    background-color: black;
    color: lightgray;
}
a{
    text-decoration: none;
    color: inherit;
}
html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

section{
    height: 100vh;
    scroll-snap-align: center;
}
#Portfolio{
    height: 0%;      
}