@import "../../app.scss";

.intro {
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #000000, #1c1c23);
  position: relative;
  overflow: hidden;

  @include large-tablet {
    height: 80vh;  // Adjusting height for larger tablets
  }

  @include tablet {
    width: 100%;  // Full width for regular tablets
  }

  @include mobile {
    height: 60vh;  // Smaller height for mobile
  }

  @include mini-screen {
    height: 79vh;  // Fine-tuned height for mini screens
  }

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;

    @include mobile {
      display: flex;
      justify-content: center;
      margin-left: -12%;
    }

    .textContainer {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      margin-left: 15%;

      @include large-tablet {
        margin-left: 5%;  
      }

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h2 {
        font-size: 30px;
        color: #e1b62f;
        letter-spacing: 10px;

        @include small-screen {
          padding-top: 40px;  // Adding padding for smaller screens
        }

        @include tablet {
          font-size: 60px;  // Larger font size for tablets
        }

        @include large-tablet {
          font-size: 50px;  // Slightly smaller font for larger tablets
        }
      }

      .buttons {
        z-index: 5;

        button {
          padding: 20px;
          border: 1px solid #fff;
          border-radius: 20px;
          background-color: transparent;
          color: #fff;
          margin-right: 20px;
          cursor: pointer;

          &:hover {
            background-color: #e1b62f;
            color: #000000;
          }

          @include tablet {
            font-size: larger;
          }

          @include large-tablet {
            font-size: 1rem;  
          }
        }
      }

      img {
        width: 50px;
        z-index: 5;
      }

      .profileDetails {
        .primary-text {
          font-size: 25px;

          @include mobile {
            font-size: 15px;  
          }

          @include large-tablet {
            font-size: 20px;  
          }
        }
      }
    }
  }

  .img-container {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;

    @include tablet {
      width: 60%;
      height: 100%;
      padding-left: 10%;
    }

    @include mobile {
      height: 40%;
      width: 70%;
      top: unset;
      bottom: 0;
      padding-right: 16%;
      z-index: 3;
    }

    img {
      height: 100%;
      width: 100%;
      padding-right: 50px;

      @include large-tablet {
        height: 80%;  
        width: 80%;
        padding-right: 0;
        margin-left: 20%;
        margin-top: 16%;
      }
    }
  }

  .slidingText {
    position: absolute;
    font-size: 50vh;
    bottom: -40px;
    white-space: nowrap;
    color: #e1b72f19;
    width: 70%;
    z-index: 1;

    @include tablet {
      z-index: 1;
      font-size: 30vh;  // Smaller font size for tablets
    }

    @include mobile {
      font-size: 10vh;  // Smaller font size for mobile
      bottom: 10%;
      z-index: 1;
    }

    @include large-tablet {
      font-size: 35vh;  // Slightly smaller font for larger tablets
      bottom: 5%;
    }
  }
}
